body{
    box-sizing: border-box;
    margin: 120px auto;
}
.box-wrapper{
    width: 1444px;
    height: 1300px;
    margin: 0 auto;
    background-color: #ED008C;
}
.header{
    width: 100%;
    height: 400px;
    display: flex;
}
.header1{
    width: 25%;
    height: 100%;
    background-color: #82CA9C;
    display: flex;
}
.header1-sub1{
    width: 50%;
    height: 50%;
    background-color: #A1410E;
}
.header1-sub2{
    width: 50%;
    height: 50%;
    background-color: #6DCFF6;
}
.header2{
    width: 25%;
    height: 100%;
    background-color: #F78E57;
}
.header3{
    width: 25%;
    height: 100%;
    background-color: #F49AC0;
    display: flex;
    align-items: flex-end;
}
.header3-sub1{
    width: 50%;
    height: 50%;
    background-color: #ED145B;
}
.header3-sub2{
    width: 50%;
    height: 50%;
    background-color: #6DCFF6;
}
.section{
    width: 100%;
    height: 300px;
    background-color: #0D014D;
    display: flex;
    justify-content: space-between;
}
.section1{
    width: 33.333333%;
    height: 100%;
    background-color: #662E91;
    display: flex;
    align-items: flex-start;
}
.section1-sub1{
    width: 100%;
    height: 33.333333%;
    background-color: #9D0B0E;
}
.section2{
    width: 33.333333%;
    height: 100%;
    background-color: #662E91;
    display: flex;
    align-items: flex-end;
}
.section2-sub1{
    width: 100%;
    height: 33.333333%;
    background-color: #FEF200;
}
.container{
    width: 100%;
    height: 300px;
    background-color: #0054A5;
    display: flex;
    justify-content: space-between;
}
.container1{
    width: 50%;
    height: 100%;
    background-color: #837B00;
    display: flex;
}
.container1-sub1{
    width: 50%;
    height: 50%;
    background-color: #005E20;
}
.container1-sub2{
    width: 50%;
    height: 50%;
    background-color: #252525;
}
.container2{
    width: 25%;
    height: 100%;
    background-color: #3AB54A;
}
.container2-sub1{
    width: 100%;
    height: 50%;
    background-color: #252525;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: #003470;
    display: flex;
}
.footer1{
    width: 25%;
    height: 100%;
    background-color: #7A0025;
}
.footer2{
    width: 25%;
    height: 100%;
    background-color: #F49AC0;
}
.footer3{
    width: 35%;
    height: 100%;
    background-color: #F7941D;
}