body{
    font-family: Arial, Helvetica, sans-serif;
}

.color-1{
    background-color: #cdcdcd;
}

.color-2{
    background-color: #dedede;
}

.font1{
    color: aqua;
}

.color-3{
    background-color: lightcoral;
}